.posts-show.container
  .page-content
    = render partial: 'posts/list', locals: { posts: posts, facebook_url: facebook_url(post.site) }
    .post-container.left
      .avatar.animated-images
        %figure.animation
          %img.no-opacity{ src: post.avatar }
      .post-content
        .title-container
          %h4.title= post.title
          .source= post.source

        .description= post.description
        .content= simple_format(post.content)





