.container
  .top-bar
    %a{ href: '/' }
      = image_tag image_url('top-logo.png'), width: 100, height: 79
  %nav
    %ul
      %li= link_to "Home", root_path
      - @sites.each do |site|
        %li= link_to site.title, site_path(site)
      %li= link_to "Contact", contact_us_sites_path

  .gallery
    .item.graphic.left
      = image_tag image_url("header-image-1.png")
      .item-name GRAPHIC DESIGN
    .item.interior.left
      = image_tag image_url("header-image-2.png")
      .item-name INTERIOR DESIGN
    .item.pallet-wood.left
      = image_tag image_url("header-image-3.png")
      .item-name PALLET WOOD DESIGN

  .about-us.clearfix
    .search-container.clearfix
      %input.right(placeholder="SEARCH")
    .text-container.clearfix
      .title.left
        %span.about-us-text ABOUT US
        %p
          this is
          %span.highlight The Story
      .content.left
        %p.less
          Interior Design is the definitive resource for interior designers, architects, and other design professionals, featuring groundbreaking projects, innovative new products, real-time design industry new Interior Design is the definitive resource for interior designers, architects, and other design professionals, featuring groundbreaking projects, innovative new products, real-time design industry new Interior Design is the definitive resource for interior designers, architects, and other design professionals, featuring groundbreaking projects, innovative new products, real-time design industry new Interior Design is the definitive resource for interior designers, architects, and other design professionals, featuring groundbreaking projects, innovative new products, real-time design industry new
        %button.read-more-btn
          READ MORE

  .home-slider.flexslider
    %ul.slides
      - @slider_photo_url.each do |photo_url|
        %li
          %img{ src: photo_url }

  %p.slogan
    \-  LET'S MAKE SOMETHING GREAT TOGETHER  -
  .map-container
    #map.left
    .info-list.right
      %h3.header CONTACT
      %dl.info
        %dt Location
        %dd 601 CT3, Apartment Ha Do
        %dd 02 Nguyen Van Cong St.
        %dd Go Vap District, HMCM
        %dt Phone numbers
        %dd (+84) 905 929 913
        %dd (+84) 904 549 539
        %dt E-mail
        %dd conghoan@adoh.com
        %dd dat.nguyen.arch@adoh.com



