.site-container
  .top-content
    .title.left
      %h3= @site.title
      %p Introduce
    .description.right
      %p.less= @site.description
      %button.read-more-btn READ MORE

  .content
    .left-content.left
      %ul.posts
        - @posts.each do |post|
          %li
            %a.post-title{ href: post_path(post) }= post.title
            %p= post.description

      %a.facebook-address{ href: "/" }
        = image_tag image_url('fb.png'), class: 'left facebook-btn'
        .left
          %h5 FACEBOOK
          %p ADOH graphic design

    .albums.right

