!!!
%html
  %head
    %title Adoh
    %link{rel: "icon", type: "image/png", href: image_url('logo.png')}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .top-bar
      %a{ href: '/' }
        = image_tag image_url('top_logo.png'), width: 100, height: 79
    %nav#sticker
      %ul
        %li= link_to "Home", root_path
        - @sites.each do |site|
          %li= link_to site.title, site_path(site)
        %li= link_to "Contact", "#{root_url}#scroll_to_contact", id: "contact-us-link"
    = yield
    %a.scroll_to_top
      = image_tag "nav-scroll-top.png"
