!!!
%html
  %head
    %title Adoh
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .top-bar
      %a{ href: '/' }
        = image_tag image_url('top-logo.png'), width: 100, height: 79
    %nav
      %ul
        %li= link_to "Home", root_path
        - sites.each do |site|
          %li= link_to site.title, site_path(site)
        %li= link_to "Contact", "#", id: "contact-us-link"
    = yield
